<div class="row">

  <div class="col-md-4">
    <%= image_tag @event.event_img.url(:event_show), class: "event-show" %>
<div class="reviews">
  <h1>Penilaian Event</h1>
<%= render @event.reviews %>
<%= link_to "Add Review", new_event_review_path(@event), class: "btn-custom" %>
</div>


<div class="reviews">
  <% if user_signed_in? %>

    <% if @event.user_id == current_user.id %>
    <h3>Kelola postingan kamu</h3>
      <%= link_to "Back", root_path, class: "btn btn-custom" %>
      <%= link_to "Edit", edit_event_path(@event), class: "btn btn-custom" %>
      <%= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "apa kamu akan menghapus ini?"}, class: "btn btn-custom" %>
    <% end %>
  <% end %>
</div>
  </div>

  <div class="col-md-8">
    <div class="event-info">
    <h2 class="event-title">Nama Event : <%= @event.title %></h2>
    <h3 class="event-lokasi">Lokasi Event : <%= @event.lokasi %></h3>
    <p><%= @event.deskripsi %></p>
    <h3><div class="average-review-ratting" data-score=<%= @average_review %><h2>Rating Peminat </h2></div></h3>


  </div>
  </div>



  </div>





  <script>
    $('.review-ratting').raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets/'
    });
  </script>

  <script>
  $('.average-review-ratting').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
  </script>
